$bg-color: #444;
$main-color: #f0f0f0;
$second-color: #222;
$grey-color: #6c757d;
$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
            "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
$animation: slideDown 0.500s ease-in-out;
$transition: all 0.300s ease-in-out;
$shadow: 0px 10px 24px -7px rgba(0,0,0,0.75);
