$bg-color: rgb(43,117,144);
$bg-gradient: linear-gradient(36deg, rgba(43,117,144,1) 0%, rgba(0,212,255,1) 100%);
$main-color: #fff;
$second-color: #222;
$grey-color: #6c757d;
$main-font: 'Helvetica Neue', 'Helvetica', 'Arial';
$animation: slideDown 0.500s ease-in-out;
$transition: all 0.300s ease-in-out;
$shadow: 0px 10px 24px -7px rgba(0,0,0,0.75);
$text-shadow: rgba(0, 0, 0, 0.5) 0.05em 0.05em 0.1em;
$text-shadow2: rgba(0, 0, 0, 0.2) 0.05em 0.05em 0.1em;
